<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="description" content="{{ page.description }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icon/apple-touch-icon.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16.png" | absolute_url }}">
<link rel="manifest" href="{{ "/assets/icon/manifest.json" | absolute_url }}">
<link rel="mask-icon" href="{{ "/assets/icon/safari-pinned-tab.svg" | absolute_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ "/assets/icon/favicon.ico" | absolute_url }}">
<a rel="me" href="https://mastodon.me.uk/@itsdavewragg">Mastodon</a>
<meta name="msapplication-config" content="{{ "/assets/icon/browserconfig.xml" | absolute_url }}">
<meta name="theme-color" content="#ffffff">
<link rel="alternate" type="application/rss+xml" href="{{ "/feed.xml" | absolute_url }}" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preload" href="{{ "/assets/css/main.css" | absolute_url }}" as="style"  onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" crossorigin href="{{ "/assets/fonts/fontawesome-webfont.woff2?v=4.6.3" | absolute_url }}" as="font">
<link rel="preload" as="image" type="image/png" href="/images/overlay.png">
<link rel="preload" as="image" type="image/webp" href="/images/bg.webp">
{% seo %}

{% include scripts-main.html %}
