<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  <li class="{% if page.url contains '/books/' %} active {% endif %}"><a href="{{ "/books/" | absolute_url }}">Books</a></li>
</ul>

<ul class="icons">
  <li><a rel="alternate" type="application/rss+xml" href="{{ "/feed.xml" | absolute_url }}" class="icon fa-rss" rel="nofollow"><span class="label" title="RSS feed">RSS feed</span></a></li>
  <li><a href="https://twitter.com/{{site.twitter.username}}" class="icon fa-twitter" rel="nofollow" title="Twitter"><span class="label">Twitter</span></a></li>
  <li><a onclick="share('{{ page.title }}', '{{ page.description }}', '{{ page.url | absolute_url }}')" class="icon fa-share pointer" rel="nofollow" title="Share"><span class="label">Share</span></a></li>
<!--  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
  <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>-->
  <li id="sharefallback" style="display: none;">
    <a class="share-btn tw icon fa-twitter" href="https://twitter.com/intent/tweet/?text={{ page.title | url_encode }}&url={{ page.url | absolute_url }}&via={{ site.twitter.username }}" target="_blank" rel="nofollow" title="Twitter"><span class="label">Tweet</span></a>
    <a class="share-btn fb icon fa-facebook" href="https://facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank" rel="nofollow"><span class="label">Facebook</span></a>
  </li>
</ul>
