<!-- DYN -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollex/0.2.1/jquery.scrollex.min.js"></script>
<script defer src="{{ "/assets/js/jquery.scrolly.min.js" | relative_url }}"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
<script defer src="{{ "/assets/js/util.js" | relative_url }}"></script>
<script defer src="{{ "/assets/js/main.js" | relative_url }}"></script>

<!-- CSS -->
<noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css" | relative_url }}" /></noscript>

<script>
window.lazyLoadOptions = {
    elements_selector: '.lazy',
};
</script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/11.0.6/lazyload.min.js"></script>

<!--<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>-->

<!--<script>-->
<!--    if (window.netlifyIdentity) {-->
<!--        window.netlifyIdentity.on("init", user => {-->
<!--            if (!user) {-->
<!--                window.netlifyIdentity.on("login", () => {-->
<!--                    document.location.href = "/admin/";-->
<!--                });-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--</script>-->
