<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{site.analytics-id}}', 'auto');

    ga('require', 'outboundLinkTracker');
    ga('require', 'urlChangeTracker');
    ga('require', 'cleanUrlTracker');
    ga('require', 'outboundFormTracker');

    ga('send', 'pageview');
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<script async src="/assets/js/autotrack.custom.js"></script>
<!--Mailchimp forms-->
<script id="mcjs" defer>!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/022a2ca9b8a0c4697a45fcb94/9766bc5ce32c781aad50a3c4f.js");</script>
